body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    font-size: 1em;
    background-image: url(assets/bg.jpg);
    box-shadow: inset 0 0 1000px rgb(0, 0, 0);
}

.hero {
    display: grid;
    height: 256px;
    background-image: url(/assets/hero.jpg);
    background-size: cover;
    background-position-y: -80px;
    place-items: center;
    h1 {
        font-size: 40px;
        margin-bottom: 1.5em;
        color: white;
    }
}

.split {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    position: relative;
    top: -8em;
    > section {
        margin: 32px;
        width: 600px;
        max-width: 100%;
        h2 {
            text-align: center;
        }
    }
}

.loader {
    position: absolute;
    z-index: 100;
    display: none;
    top: calc(53%);
    left: calc(50% - 26px);
    width: 52px;
    aspect-ratio: 1;
    border: 5px dashed white;
    animation: 1s infinite linear;
    animation-name: rotate;
    border-radius: 50%;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.characters {
    position: relative;
    border-radius: 10px;
    background-color: rgba(50, 44, 47, 0.8);
    backdrop-filter: blur(7px);
    display: flex;
    flex-direction: column;
    h2 {
        color: #ffe900;
        background: linear-gradient(#333, #222);
        min-height: 2em;
        font-size: 2rem;
        border-radius: 10px 10px 0 0;
        width: 100%;
        display: grid;
        place-items: center;
        margin: 0;
    }
    .list {
        display: grid;
        grid-auto-flow: row;
        gap: 1px;
        span {
            font-size: 1.5em;
            padding: 9px 0 9px 18px;
            background-color: rgb(255, 255, 255, 0.1);
            place-items: center start;
            display: grid;
            color: white;
        }
        span:hover {
            background-color: rgb(255, 255, 255, 0.2);
            transition: 0.2s;
            cursor: pointer;
        }
        .selected:nth-child(n) {
            background-color: rgb(255, 255, 255, 0.3);
            color: white;
            cursor: default;
        }
    }
    .controls {
        width: 100%;
        color: white;
        border-radius: 0 0 10px 10px;
        display: grid;
        place-items: end center;
        height: 100%;
        .btn {
            place-items: center;
            outline: 0px;
            font-size: 2rem;
            background-color: rgb(255, 255, 255, 0.3);
            text-align: center;
            padding: 0.5rem;
            border-radius: 50%;
            margin: 9px 0;
            border: 2px solid white;
            user-select: none;
        }
        .btn:hover {
            cursor: pointer;
            background-color: rgb(255, 255, 255, 0.4);
        }
    }
}

.dual {
    height: 38rem;
    color: black;
    section {
        place-items: center start;
        display: grid;
        padding: 3px 0 9px 18px;
        gap: 0.2em;
        span {
            display: block;
            font-size: 1.1em;
        }
    }
    padding-bottom: 1rem;
}

.details {
    position: relative;
    border-radius: 10px;
    background-color: rgba(50, 44, 47, 0.8);
    backdrop-filter: blur(7px);
    > h2 {
        border-radius: 25px 25px 0 0;
        display: grid;
        place-content: center;
        color: #ffe900;
        background: linear-gradient(#333, #222);
        height: 2em;
        margin: 0;
        font-size: 2rem;
        border-radius: 10px 10px 0 0;
    }
    h3 {
        margin: 0.4em 0;
        font-size: 1.3em;
        color: white;
        font-weight: normal;
        border-bottom: 1px solid white;
    }
    span {
        color: white;
        line-height: 1.8rem;
    }
}

@media screen and (max-width: 480px) {
    .hero h1 {
        font-size: 3rem;
        text-align: center;
    }
}
